.row.with-margin
  .col.s12
    .title
      %h4 New file
    .card-panel.grey.lighten-5
      = form_tag(upload_pipos_path, multipart: true) do
        .row
          .col.s6.offset-s3
            .file-field.input-field
              .btn.blue
                %span File
                = file_field_tag 'file'
                / %input{type: 'file', name: 'pipos_file'}/
              .file-path-wrapper
                %input.file-path.validate{type: 'text'}/
        .row
          .col.s6.offset-s3
            = submit_tag 'Upload', class: 'btn blue right'
