%nav.blue
  .nav-wrapper.nav-logo
    %a.brand-logo{:href => "#"} Pipos
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        = link_to 'List', pipos_path
      %li
        = link_to 'Upload', new_pipo_path

